

// GENERAL
$btn-text-color: #fff;
$darken-percent: 15%;
$lighten-percent: 20%;
$btn-height: 34px;
$btn-border-radius: 2px;
$btn-padding: 0 20px;
$btn-font-size: 14px;
$btn-shadow-color: #666;
$btn-font-weight: 200;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// COLORS
$btn-bg: #999 !default;

$btn-blue: #4174d5;
$btn-orange: #ff9933;
$btn-green: #339900;
$btn-red: #ff6666;

.container {
    text-align: center;
    padding: 25px;
}

.btn-group {
    margin-bottom: 10px;
}

.btn {
    font-family: $font-family;
    height: $btn-height;
    font-weight: $btn-font-weight;
    border-radius: $btn-border-radius;
    padding: $btn-padding;
    font-size: $btn-font-size;
    background: $btn-bg;
    cursor: pointer;
    outline: none;

    &:disabled {
        cursor: default;
        &:hover { box-shadow: none; }
    }

    &:hover, &:hover, &.hover {
        box-shadow: 0px 2px 2px $btn-shadow-color;
    }

    &:active, &.active {
        box-shadow: none;
    }

}

@mixin create-button($btn-text-color, $btn-bg) {
    color: $btn-text-color;
    @include background-image(linear-gradient($btn-bg, darken($btn-bg, $darken-percent)));
    border: 1px solid darken($btn-bg, $darken-percent);

    &:disabled, &.disabled {
        @include background-image(linear-gradient(lighten($btn-bg, $lighten-percent), lighten($btn-bg, $lighten-percent / 2)));
        color: lighten($btn-text-color, $lighten-percent);
        border: 1px solid lighten($btn-bg, $lighten-percent);
        &:active {
            @include background-image(linear-gradient(lighten($btn-bg, $lighten-percent), lighten($btn-bg, $lighten-percent / 2)));
            color: lighten($btn-text-color, $lighten-percent);
            border: 1px solid lighten($btn-bg, $lighten-percent);
        }
    }

    &:active, &.active {
        @include background-image(linear-gradient(darken($btn-bg, $darken-percent *2), darken($btn-bg, $darken-percent)));
        color: darken($btn-text-color, $darken-percent);
        border: 1px solid darken($btn-bg, $darken-percent);
    }
}

.btn-group .btn { margin-bottom: 10px; }

.btn { @include create-button(white, $btn-bg); }

.btn-blue { @include create-button(white, $btn-blue); }
